<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/panel.css">
        <link rel="stylesheet" type="text/css" href="style/icws-json-pretty-print.css">

        <!-- 3rd party -->
        <script src="vendor/js/angular.min.js"></script>
        <script src="vendor/js/angular-sanitize.min.js"></script>

        <script src="js/init.js"></script>
        <script src="js/icwsMessageTypeFilter.js"></script>
        <script src="js/icws-json-pretty-print.js"></script>
        <script src="js/icws-message-viewer.js"></script>
        <script src="js/icws-request-viewer.js"></script>
        <script src="js/icws-doc-link.js"></script>
        <script src="js/AppCtrl.js"></script>
    </head>
    <body class="icws-panel" ng-app="IcwsPanel" ng-csp>
        <div class="split-view" ng-controller="AppCtrl as app">
            <div class="split-view-contents split-view-contents-requests">
                <div class="data-grid data-grid-requests">
                    <table class="header">
                        <tr>
                            <th class="method">Type</th>
                            <th class="name">Name</th>
                            <th class="timestamp">Timestamp</th>
                        </tr>
                    </table>
                    <div class="data-container">
                        <table id="communication-entries">
                            <tr ng-repeat="entry in app.communicationEntries track by $index"
                                ng-click="app.selectEntry($index)"
                                ng-class="{ selected: ($index === app.selectedEntryIndex), highlight: entry.highlight }"
                                class="communication-entry communication-entry-{{entry.type}}">
                                <td class="method" ng-switch on="entry.type">
                                    <span ng-switch-when="message">Message</span>
                                    <span ng-switch-when="request">{{ entry.content.verb }}</span>
                                </td>
                                <td class="name" ng-switch on="entry.type">
                                    <div ng-switch-when="message" class="name-content">
                                        <span class="base">{{ entry.resource | icwsMessageType }}</span>
                                        <span class="extra" title="Subscription ID: {{ entry.content.subscriptionId }}">{{entry.content.subscriptionId}}</span>
                                    </div>
                                    <div ng-switch-when="request" class="name-content">
                                        <span class="base">{{entry.resource}}</span>
                                        <span class="extra" ng-hide="200 <= entry.content.status && entry.content.status < 300">{{entry.content.status}}</span>
                                    </div>
                                </td>
                                <td class="timestamp">{{ entry.timestamp | date:'HH:mm:ss.sss' }}</td>
                            </tr>
                            <tr class="filler">
                                <td class="method"></td>
                                <td class="name"></td>
                                <td class="timestamp"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="split-view-contents split-view-contents-details">
                <div id="vdivider"></div>
                <div id="detail" class="tabbed-pane" ng-switch="app.selectedEntry.type">
                    <icws-message-viewer ng-switch-when="message" message="app.selectedEntry.content"></icws-message-viewer>
                    <icws-request-viewer ng-switch-when="request" entry="app.selectedEntry" request="app.selectedEntry.content"></icws-request-viewer>
                </div>
            </div>

        </div>

    </body>
</html>
