<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style/panel.css">
        <link rel="stylesheet" type="text/css" href="style/icws-json-pretty-print.css">

        <!-- 3rd party -->
        <script src="vendor/js/angular.min.js"></script>
        <script src="vendor/js/angular-sanitize.min.js"></script>
        <script src="js/init.js"></script>
        <script src="js/icws-json-pretty-print.js"></script>
        <script src="js/AppCtrl.js"></script>
    </head>
    <body class="icws-panel" ng-app="IcwsPanel" ng-csp>
        <div class="split-view" ng-controller="AppCtrl as app">
            <div class="split-view-contents split-view-contents-requests">
                <div class="data-grid data-grid-requests">
                    <table class="header">
                        <tr>
                            <th class="name">Message</th>
                            <th class="timestamp">Timestamp</th>
                        </tr>
                    </table>
                    <div class="data-container">
                        <table id="communication-entries">
                            <tr ng-repeat="entry in app.communicationEntries track by $index"
                                ng-click="app.selectEntry($index)"
                                ng-class="{ selected: ($index === app.selectedEntryIndex), highlight: entry.highlight }">
                                <td class="name">{{entry.content.__type}}</td>
                                <td class="timestamp">{{ entry.timestamp | date:'HH:mm:ss.sss' }}</td>
                            </tr>
                            <tr class="filler">
                                <td class="name"></td>
                                <td class="timestamp"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="split-view-contents split-view-contents-details">
                <div id="vdivider"></div>
                <div id="detail" class="tabbed-pane">
                    <pre class="message-detail" icws-json-pretty-print="app.selectedEntry.content"></pre>
                </div>
                <div id="info">
                  <table>
                    <tr>
                      <td class="header">Session ID</td>
                      <td>{{ app.sessionData.sessionId }}</td>
                      <td class="header">Response Header Size</td>
                      <td>{{ app.sessionData.responseSize.headers }}</td>
                    </tr>
                    <tr>
                      <td class="header">IC Server</td>
                      <td>{{ app.sessionData.icServerName }}</td>
                      <td class="header">Response Body Size</td>
                      <td>{{ app.sessionData.responseSize.body }}</td>
                    </tr>
                    <tr>
                      <td class="header">API Calls</td>
                      <td>{{ app.sessionData.apiCallCount }}</td>
                      <td class="header">Request Header Size</td>
                      <td>{{ app.sessionData.requestSize.headers }}</td>
                    </tr>
                    <tr>
                      <td class="header">Subscription Count</td>
                      <td>{{ app.sessionData.subscriptionCount }}</td>
                      <td class="header">Request Body Size</td>
                      <td>{{ app.sessionData.requestSize.body }}</td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>

    </body>
</html>
